body {
    background-color: #212D4D;
    background-size: 64px 128px;
    margin: 0 auto;
    line-height: 1.6;
}

.preloading {
    background-color: #212D4D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 100%;
}

.progress-ring__circle {
    /* axis compensation */
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "name name" "skills social" "encryption encryption" "projects projects" "footer footer"
}

/* for mobile screens */

@media (max-width: 600px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas: "header" "name" "skills" "social" "encryption" "projects" "footer"
    }
}

.lang {
    grid-area: header
}

.langElement {
    height: 100%;
    border-radius: 2em;
    border: 5px solid #2a7878;
    background: wheat;
    cursor: pointer;
    color: teal;
    box-shadow: -1em 0em 2em black;
}

.name {
    text-align: center;
    grid-area: name;
}

.skills {
    grid-area: skills
}

.social {
    grid-area: social
}

.projects {
    grid-area: projects
}

.encryption {
    grid-area: encryption
}

.name {
    display: table;
    margin: 0px auto 0px auto;
    background-color: whitesmoke;
    border-radius: 2em 2em 2em 2em;
}

.nameText {
    padding: 0em 1em 0.2em 1em;
    color: cornflowerblue;
    font-size: 3ch;
    line-height: 2;
    text-shadow: 4px 4px 5px turquoise;
}

.listText {
    background-color: whitesmoke;
    color: black;
    border-radius: 1em 1em 1em 1em;
    padding: 0em 1em 0em 1em;
}

.lang {
    text-align: right
}

.socialLogo {
    height: 2em;
}

.socialTitle {
    vertical-align: 0.5em;
}

.socialLink {
    text-decoration: none;
}

.heading {
    text-align: center;
    color: lightcyan;
}

.listingCommon {
    text-align: center;
    list-style-type: none;
    padding-left: 0%;
}

.socialSpan {
    display: inline-block;
    background: whitesmoke;
    padding: 0.4em 1em 0em 1em;
    border-radius: 1em 1em 1em 1em;
    margin: 0.1em;
}

.socialSpan a:link,
.socialSpan a:visited,
.socialSpan a:hover,
.socialSpan a:active {
    color: #2962FF;
}

.encryptedText {
    overflow-x: auto;
    background: #222;
    color: #09c602;
    /* text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; */
}