body {
    background:
    linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px;
    margin: 0 auto;
}

.preloading {
    background-color: #2962FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 100%;
}

.progress-ring__circle {
    /* axis compensation */
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "name name" "skills social" "encryption encryption" "projects projects" "footer footer"
}

/* for mobile screens */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas: "header" "name" "skills" "social" "encryption" "projects" "footer"
    }
}

.lang {
    grid-area: header
}

.langElement {
    height: 100%;
    border-radius: 2vw;
    border: 5px solid aqua;
    background:wheat;
    cursor: pointer;
    color: teal;
}

.name {
    grid-area: name;
    border-width: 0.2rem;
    border-color: navy;
    border-top-style: dashed;
    border-bottom-style: dashed;
    background-color: gainsboro;
}

.skills {
    grid-area: skills
}

.social {
    grid-area: social
}

.projects {
    grid-area: projects
}

.encryption {
    grid-area: encryption
}

.nameText {
    text-align: center;
    color: saddlebrown;
    font-size: 200%;
    line-height: 1.5;
    text-shadow: 4px 4px 5px hotpink;
}

.lang {
    text-align: right
}

.socialLogo {
    height: 2em;
}